@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}

.nav{
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#B9C2C9;
    border-bottom: 2px solid black;
    padding-inline: 10%;
}
.nav ul p{
    font-weight: 600;
    color: black;
}

.nav ul li button{
    width:200%;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 10%;
    font-weight: 600;
}
.nav ul{
    width: 80%;
    list-style: none;
    display: flex;
    justify-content:space-evenly;

}
/* nav end */

.hero-section{
    width: 80%;
    height: auto;
    display: flex;

}

.text-part{
    width: 70%;
    height: auto;
    color: black;
    background-color: #B9C2C9;
    /* padding: 5% 0% 5% 5%; */
    /* line-height:70px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-part h1{
    font-size: 50px;
    padding: 10% 0% 0% 10%;
    font-family: "Rubik", sans-serif;
    font-weight: 450;
}

#circle{
    width: 15%;
    height: 130px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.hrcircle{
    width: 100%;
    height: 0px;
    display: flex;
    align-items: center;
}
#hr{
    width: 60%;
    height: 1px;
    background-color:gray;
}
#circle h4{
    font-size: 25px;
    font-weight: 400;
}
#circle p{
    font-size: 10px;
    text-align: center;
}


.images{
    width: 50%;
    height: 250px;
    background-color:#B9C2C9;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin-top: 4%;
    gap: 10px;
}
#p{
    font-size: 11px;
    font-weight: 900;
    margin-left: 10%;
    display: flex;
    align-items: center;
    gap: 10px;
    /* margin-top: -4%; */
}
.images p{
    font-size: 10px;
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
}
.images img{
    width: 40%;
    height: 170px;
    border-radius: 10%;
    margin-top: 5%;
    /* display: flex; */
}

.images span{
    height: 220px;
    display: flex;
    gap: 20px;
    border-right: 5px solid gray;
}

/* text-pat end */

/* image-part start */

.image-part{
    width: 30%;
    height: auto;
    background-color: #B9C2C9;
    padding: 7% 0% 0% 0%;
    
}
.heros-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.image-part img{
    width: 65%;
    height: 330px;
    border-radius: 0% 7% 7% 0%;
}
.btnbox{
    width: 100%;
    height: auto;
}

.btnbox button{
    width: 30%;
    height: 30px;
    background-color: #7A828D;
    color: white;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px 20px 3px 0px;
    border: none;
    
}
.btnbox button div{
    width: 93%;
    height: 25px;
    background-color: black;
    border-radius: 5px 17px 5px 5px;

    /* padding: 5px; */
}
.btnbox .cardd{
width: 70%;
height: 100px;
background-color: #7A828D;
padding: 5% 2% 0% 5%;
align-items: center;
border-radius: 0% 5% 5% 5%;
}
.btnbox .cardd p{
    font-size: 13px;
    color: aqua;
    font-weight: 200;
}

.icon-section{
    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.icon-section i{
    font-size: 30px;
}






/* responsive code lens ui */


@media (max-width:480px) {
    .main-container{
        width: 100%;
        height: auto;
    }
    .nav{
        width: 80%;
        height: auto;
        justify-content: space-between;
    }
    .nav{
        display: none;
    }
    .hero-section{
        width: 100%;
        height: auto;
        flex-direction: column;
        
    }
    .text-part{
        width: 100%;
        height: auto;
    }
    .image-part{
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .text-part h1{
        font-size: 50px;
        text-align: center;
        margin-right: 10px;
    padding: 10% 0% 0% 0%;

    }

    .hrcircle{
        margin-top: 15%;
    }
    #circle{
        width: 25%;
        height: 120px;
    }
    #p{
        margin-right: 20%;
    }
    .sectionn{
        width: 100%;
        height: auto;
    }
    .images{
        width: 95%;
        height: auto;
    }
    .heros-section{
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
    }
    .btnbox{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cardd{
        width: 100%;
        height: auto;
    }
    .btnbox button{
    margin-right: 40%;
    }
    .heros-section img{
        width: 70%;
        height: 250px;
    }

  
    
}

